<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MAKE MY TRIP TESTING ">
    <test name="MAKE MY TRIP TESTING OF FLIGHT BOOKING">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="com.test.TestClass.FlightBookingTest"/>
        </classes>
    </test>
    <test name="MAKE MY TRIP TESTING OF LOGIN TEST">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="com.test.TestClass.LoginTest"/>
        </classes>
    </test>
</suite>